

<div class= "log_page">
  <% if signed_in? %>
    Welcome,<strong><%= current_user.name %></strong>!
    <%= button_to "Sign out", sign_out_path, id: "sign_out", method: :delete %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>

  <% end %>
</div>
